<h1>About Inclusive VT Explorer</h1>

<p>This project is in cooperation with <a target="_blank" href="http://www.inclusive.vt.edu/">InclusiveVT</a>, and aims to help people explore the inclusion and diversity initiatives at VT.

<h2>The Team</h2>

<p>Thanks to the following many collaborators from all around Virginia Tech for their help on this project, without whom, this project would not have been possible.</p>

<ul>
  <li ng-repeat="person in awesomePeople">{{person}}</li>
</ul>

<h2>Technical Information</h2>

<p>This application heavily utilizes <a target="_blank" href="http://d3js.org/">d3</a>, having referenced the <a target="_blank" href="http://bl.ocks.org/mbostock/4062045">Force-Directed Graph example</a>, to build the interactive visualization. We employ <a target="_blank" href="https://angularjs.org/">AngularJS</a> to manage the front-end routing and to bind the data to the templates. We (will) use <a target="_blank" href="https://nodejs.org/">Node.js</a> with the <a target="_blank" href="http://jade-lang.com/">Jade Template Engine</a> (for server-side rendering). </p>

<p>For further or contact info, please see our <a target="_blank" href="feedback">Feedback page</a>.</p>

<a class="github-badge" target="_blank" href="https://github.com/VT-Grad-School/InclusionExplorer"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
