<div class="row">
  <div id="toolTip" class="tooltip" style="width: 250px; height: 100px; position: absolute; left: 910px; top: 226px; opacity: 0;">
    <div id="header1" class="header2">{{header1}}</div>
    <div class="header-rule"></div>
    <div id="head" class="header">{{head}}</div>
    <div class="header-rule"></div>
    <div id="header2" class="header3">{{header2}}</div>
    <div class="tooltipTail"></div>
  </div>
  <div id="initiatives-vis" class="col-md-9">
    {{sourceCategories}}<br/><br/><br/>
    {{sourceCategoryNames}}<br/><br/><br/>
    {{initiatives}}<br/><br/><br/>
    {{graph}}<br/><br/><br/>
    
  </div>
  <div class="col-md-3">
  </div>
</div>