<div class="row">
  <div id="toolTip" class="tooltip" style="width: 250px; height: 100px; position: absolute; left: 910px; top: 226px; opacity: 0;">
    <div id="header1" class="header2">{{hoverNode.type}}</div>
    <div class="header-rule"></div>
    <div id="head" class="header">{{hoverNode.name}}</div>
    <!-- <div class="header-rule"></div>
    <div id="header2" class="header3">{{header2}}</div> -->
    <div class="tooltipTail"></div>
  </div>
  <div id="initiatives-vis" class="col-md-8">
    <ul class="legend">
      <li ng-repeat="ctNm in legend" 
        class="legend-item" 
        ng-class="legendClass(ctNm)" 
        ng-mouseenter="hoverType(ctNm)"
        ng-mouseleave="unHoverType(ctNm)">
         <i class="fa fa-stop"></i>
         {{ctNm}}
      </li>
    </ul>
  </div>
  <div class="col-md-4 sidebar">
    <div ng-if="!haveSelectedNode()">
      <form class="" role="search">
        <div class="form-group">
          <input type="text" 
            class="form-control" 
            ng-model="queryObj.query" 
            typeahead="result for result in searchAllNodes($viewValue)" 
            typeahead-loading="searchingNodes" 
            typeahead-no-results="noNodesFound" 
            typeahead-min-length="0" 
            typeahead-wait-ms="200" 
            placeholder="Search Inclusion at VT">
            <span class="fa fa-times-circle form-control-feedback" ng-if="queryObj.query && queryObj.query.length > 0" aria-hidden="true" ng-click="clearSearch()"></span>
          <i ng-show="searchingNodes" class="fa fa-refresh"></i>
          <div ng-show="noNodesFound && query.length > 0">
            <i class="fa fa-times"></i> No Results Found
          </div>
        </div>
      </form>
      <accordion close-others="false">
        <accordion-group ng-repeat="ctgyName in sourceCategoryNames" is-open="homeTabOpen[ctgyName]">
          <accordion-heading>
            <i class="accordion-chevron fa" ng-class="{'fa-chevron-down':homeTabOpen[ctgyName], 'fa-chevron-right':!homeTabOpen[ctgyName] || visibleEntities(ctgyName) === 0}"></i>
            {{ctgyName}} <span class="badge" ng-class="'badge-' + typeAsClassName(ctgyName)">{{ visibleEntities(ctgyName) }}</span>
            <span class="hidden-items-count" ng-if="objLen(sourceCategories[ctgyName]) - visibleEntities(ctgyName) > 0"><span class="badge">{{objLen(sourceCategories[ctgyName]) - visibleEntities(ctgyName)}} hidden by query</span>
          </accordion-heading>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="item in sourceCategories[ctgyName] | toArray | orderBy: 'name'" ng-class="{'list-item-non-result': item.nonResult}">
              <a ng-mouseenter="onNodeMouseEnter(graph.nodes[item.nodeIdx], $event)" ng-mouseleave="onNodeMouseLeave(graph.nodes[item.nodeIdx])" ng-click="clickedInitiative(nodes[item.nodeIdx], $event)">{{item.name}}</a>
            </li>
          </ul>
        </accordion-group>
        <accordion-group is-open="homeTabOpen['Program']">
          <accordion-heading>
            <i class="accordion-chevron fa" ng-class="{'fa-chevron-down':homeTabOpen['Program'], 'fa-chevron-right':!homeTabOpen['Program']}"></i>Inclusion Programs <span class="badge badge-Program">{{visibleInitiatives()}}</span>
            <span class="hidden-items-count" ng-if="initiatives.length - visibleInitiatives() > 0"><span class="badge">{{initiatives.length - visibleInitiatives()}} hidden by query</span>
            </span>
          </accordion-heading> 
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="initiative in initiatives | orderBy:'name'" ng-if="!initiative.nonResult">
              <a ng-class="{'incl-init': initiative['InclusiveVT Initiative']==='Y'}" ng-mouseenter="onNodeMouseEnter(graph.nodes[initiative.nodeIdx], $event)" ng-mouseleave="onNodeMouseLeave(initiative)" ng-click="clickedInitiative(graph.nodes[initiative.nodeIdx], $event)">{{initiative.name}}</a> <span class="pull-right label label-init" ng-if="initiative['InclusiveVT Initiative']==='Y'"><a href="http://www.inclusive.vt.edu/initiatives/index.html" target="_blank">Initiative</a></span>
            </li>
          </ul>         
        </accordion-group>
      </accordion>
    </div>

    <div ng-if="haveSelectedNode()">

      <div class="panel panel-default">
        <div class="panel-heading">
          <div>
            <button class="btn btn-default pull-left" ng-click="unSetSelectedNode()"><i class="fa fa-chevron-left"></i></button>
            <h3>{{selectedNode.name}}<a target="_blank" ng-if="selectedNode.URL.trim().length > 0" ng-href="{{selectedNode.URL.trim()}}"><i class="fa fa-external-link"></i></a><span class="label" ng-class="'label-' + typeAsClassName(selectedNode.type)">{{selectedNode.type}}</span></h3>
          </div>
        </div>
        <div class="panel-body">
          <div ng-if="selectedNode.hasOwnProperty('Description')">
            <p>{{selectedNode.Description}}</p>
          </div>
          <accordion close-others="false">
            <accordion-group is-open="tabOpen[ctgyName]" ng-repeat="ctgyName in sourceCategoryNames" ng-if="selectedNode.hasOwnProperty(ctgyName)">
              <accordion-heading><i class="accordion-chevron fa" ng-class="{'fa-chevron-down':tabOpen[ctgyName], 'fa-chevron-right':!tabOpen[ctgyName]}"></i>{{ctgyName}} <span class="badge">{{selectedNode[ctgyName].length}}</span></accordion-heading>
              <ul>
                <li ng-repeat="item in selectedNode[ctgyName]">
                  <a ng-mouseenter="onNodeMouseEnter(graph.nodes[sourceCategories[ctgyName][item].nodeIdx], $event)" ng-mouseleave="onNodeMouseLeave()" ng-click="clickedInitiative(nodes[sourceCategories[ctgyName][item].nodeIdx], $event)">{{item}}</a>
                </li>
              </ul>
            </accordion-group>
            <accordion-group is-open="tabOpen['Program']" ng-if="sourceCategories.hasOwnProperty(selectedNode.type) && sourceCategories[selectedNode.type].hasOwnProperty(selectedNode.name) && sourceCategories[selectedNode.type][selectedNode.name].hasOwnProperty('initiatives')">
              <accordion-heading>
                <i class="accordion-chevron fa" ng-class="{'fa-chevron-down':tabOpen['Program'], 'fa-chevron-right':!tabOpen['Program']}"></i>Inclusion Initiatives <span class="badge">{{sourceCategories[selectedNode.type][selectedNode.name].initiatives.length}}</span>
              </accordion-heading>
              <ul>
                <li ng-repeat="initiative in sourceCategories[selectedNode.type][selectedNode.name].initiatives">
                  <a ng-mouseenter="onNodeMouseEnter(graph.nodes[initiative.nodeIdx], $event)" ng-mouseleave="onNodeMouseLeave()" ng-click="clickedInitiative(nodes[initiative.nodeIdx], $event)">{{initiative.name}}</a>
                </li>
              </ul>
            </accordion-group>
          </accordion>
        
        </div>
      </div>



    </div>

  </div>
</div>