.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  fill: none;
  stroke: #bbb;
}

div.tooltip {
  position: absolute;
  /* reference for measurement */
  text-align: left;
  pointer-events: none;
  /* 'none' tells the mouse to ignore the rectangle */
  background: #FFFFEF;
  width: 400px;
  height: 165px;
  padding: 10px;
  border: 1px solid #D5D5D5;
  font-family: arial, helvetica, sans-serif;
  position: absolute;
  font-size: 1.1em;
  color: #333;
  padding: 10px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.9);
  color: #000;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(200, 200, 200, 0.85);
  opacity: 0;
}

div.tooltipTail {
  position: absolute;
  left: -7px;
  top: 72px;
  width: 7px;
  height: 13px;
  /*background: url("images/tail_white.png") 50% 0%;*/
}

div.toolTipBody {
  position: absolute;
  height: 100px;
  width: 230px;
}

div.header {
  text-transform: uppercase;
  text-align: left;
  font-size: 14px;
  margin-bottom: 2px;
  color: #666;
  text-align: center;
}

div.header-rule {
  height: 1px;
  margin: 1px auto 3px;
  margin-top: 7px;
  margin-bottom: 7px;
  background: #ddd;
  width: 125px;
}

div.header1 {
  /* text-transform: uppercase; */
  text-align: left;
  font-size: 13px;
  margin-bottom: 2px;
  color: #000;
  text-align: center;
}

div.header2 {
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 2px;
  text-align: center;
}

div.header3 {
  color: #333;
  text-align: left;
  font-size: 15px;
  font-style: italic;
  font-family: Georgia;
  /*  width:170px;*/
  text-align: center;
}

path.connected-link {
  stroke-width:2px;
  stroke:#ff6600;
}

path.connected-link-clicked {
  stroke-width: 2px;
  stroke: #660000;
}

.node.hover-node {
  stroke: #ff6600;
  r: 15;
}

.node.clicked-node {
  stroke: #660000;
}

.node:hover {
  cursor: pointer;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.label-Program {
  font-size: 12px;
  background-color: #1f77b4;
}

.label-CollegeorVP {
  font-size: 12px;
  background-color: #2ca02c;
}

.label-InclusiveExcellencearea {
  font-size: 12px;
  background-color: #d62728;
}

.label-constituentgroup {
  font-size: 12px;
  background-color: #ff7f0e;
}

.panel-default > .panel-heading .badge-Program {
  background-color: #1f77b4 ! important;
}

.panel-default > .panel-heading .badge-CollegeorVP {
  background-color: #2ca02c ! important;
}

.panel-default > .panel-heading .badge-InclusiveExcellencearea {
  background-color: #d62728 ! important;
}

.panel-default > .panel-heading .badge-constituentgroup {
  background-color: #ff7f0e ! important;
}

.accordion-chevron {
  margin-right: 10px;
}

.inclusion .navbar input {
  width: 300px;
}

.node.search-non-result {
  fill: #eeeeee !important;
}

ul li.list-item-non-result {
  display: none;
}

/*body {
  overflow-y: hidden;
}

.sidebar {
  overflow-y: scroll;
  max-height: 100%;
}*/

li.legend-item {
  list-style-type: none;
}

li.legend-item-Program i {
  margin-right: 15px;
  color: #1f77b4;
}
li.legend-item-CollegeorVP i {
  margin-right: 15px;
  color: #2ca02c;
}
li.legend-item-InclusiveExcellencearea i {
  margin-right: 15px;
  color: #d62728;
}
li.legend-item-constituentgroup i {
  margin-right: 15px;
  color: #ff7f0e;
}